$font-size-card__title: 1.2em;
$font-size-card__desc: 1em;

$line-height: 1.6;

$margin-card--default: 20px;
$margin-card__title: 10px auto 10px auto;

$border-radius: 30px;

$background-color--default: #f4eef8;

$padding-card: 16px 30px 0 30px;

.card-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .modal__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .card {
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    margin: $margin-card--default;
    text-align: center;
    justify-content: center;
    border-radius: $border-radius;
    background-color: $background-color--default;
    padding: $padding-card;

    .card__title.MuiTypography-h6 {
      font-size: $font-size-card__title;
      font-weight: bold;
      margin: $margin-card__title;
      // text-align: start;
    }
    .card__img {
      object-fit: cover;
      width: 100%;
    }
    .card__desc,
    .card__doi {
      font-size: $font-size-card__desc;
      line-height: $line-height;
    }
    .card__doi {
      margin-top: 8px;
    }
  }
}
