$font-size-card__title: 1.2em;
$font-size-card__desc: 1em;

$line-height: 1.6;

$margin-card--default: 20px;
$margin-card__title: 10px auto 10px auto;

$border-radius: 30px;

// $background-color--default: #f4eef8;

// $background-gradient--primary: linear-gradient(
//   0.25turn,
//   #ece0ff,
//   #e0ccff,
//   #d4b8ff
// );

$background-gradient--secondary: linear-gradient(
  0.25turn,
  #e0ccff,
  #ece0ff,
  #d4b8ff
);

$padding-card: 16px 30px 0 30px;

.card-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal__content {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    margin: $margin-card--default;
    text-align: center;
    justify-content: center;
    border-radius: $border-radius;
    // background-color: $background-color--default;
    background: $background-gradient--secondary;
    padding: $padding-card;

    @media (max-width: 768px) {
      max-width: 90vw;
    }

    .MuiCardContent-root {
      padding: 0;
    }

    .card__title.MuiTypography-h6 {
      font-size: $font-size-card__title;
      font-weight: bold;
      margin: $margin-card__title;
    }

    .card__img {
      object-fit: cover;
      width: 100%;
    }

    .card__desc,
    .card__doi {
      font-size: $font-size-card__desc;
      line-height: $line-height;
    }

    .card__doi {
      margin-top: 8px;
    }

    .card__actions {
      display: flex;
      justify-content: center;
      .actions__button {
        color: #35294d;
      }
    }
  }
}
