$color--default: #35294d;

$border-radius: 8px;

$gap-form-items: 24px;

$width-form-item--default: 40%;
$width-form-item--mobile: 100%;

$margin-top-page--mobile: 16px;

$font-size-base--mobile: 16px;

$background-gradient: linear-gradient(0.25turn, #e0ccff, #ece0ff, #d4b8ff);

$background-color--alt: #f8f4ff;

.eeg-alert-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 32px;
  padding: 0 40px;
}

.alert-message-eeg {
  width: $width-form-item--default;

  @media (320px <= width <= 480px) {
    width: $width-form-item--mobile;
    margin-bottom: $gap-form-items;
  }
}

.order-form-eeg {
  /* border-radius: 5px; */
  // background-color: #f2f2f2;
  // background: $background-gradient;
  // padding: 50px;
  padding-top: 20px;
  //color: #006ba6;
  // color: $color--default;
  // background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-form-items;

  @media (320px <= width <= 480px) {
    width: 100%;
    padding: 0 40px;
    margin-top: $margin-top-page--mobile;
    font-size: $font-size-base--mobile;
  }
}

.order-form-eeg__input {
  width: 50%;
  display: block;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  label,
  input {
    background-color: $background-color--alt;
  }

  label {
    border-radius: $border-radius;
    padding: 0 4px;
  }

  @media (320px <= width <= 480px) {
    width: 100%;
  }
}

.order-form-eeg__dropdown {
  .MuiSelect-select,
  input {
    background-color: $background-color--alt;
  }
}

.order-form-eeg__text-area .MuiInputBase-root {
  background-color: $background-color--alt;
}

.order-form-eeg__submit-button.MuiButton-root {
  background-color: $color--default;
  color: white;
  margin-top: 16px;

  // @media (320px <= width <= 480px) {
  //   margin-top: 0px;
  // }
}

// .inputSubmit {
//   background-color: #673147;
//   color: white;
//   padding: 12px 20px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   margin-top: 20px;
//   width: 200px;
// }

// .inputSubmit:hover {
//   background-color: #673147 !important;
//   opacity: 0.8;
// }

// .multiSet {
//   width: 50%;
//   margin-bottom: 16px;
//   display: block;
//   padding: 12px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   margin-top: 6px;

//   resize: vertical;
// }
// // .multiSetInput{
// //   margin-right: 5px;
// // }

// .statesField {
//   display: block;
//   width: 100px;
//   height: 30px;
//   margin-top: 5px;
//   margin-bottom: 16px;
// }

// .servicesField {
//   margin-left: 10px;
//   width: 200px;
//   height: 30px;
//   margin-top: 5px;
// }

// .upload_comp,
// .fileUploadField {
//   display: flex;
//   margin-top: 5px;
//   align-items: center;
//   margin-bottom: 15px;
// }

// .add_button,
// .delete_button {
//   padding: 0;
//   width: 25px !important;
//   height: 25px;
//   margin-right: 10px;
// }

// .patientNote {
//   padding-bottom: 20px;
//   font-weight: bold;
// }

// .patientNoteContainer {
//   margin-top: 20px;
//   font-size: 1rem;
//   line-height: 1.6;
// }

// .orderTextArea {
//   height: 200px;
// }

// .orderFormInputElement {
//   width: 50%;
//   padding: 12px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   margin-top: 6px;
//   margin-bottom: 16px;
//   resize: vertical;
//   display: block;
// }

// .contactInfo {
//   text-decoration: underline;
//   color: #003b71;
// }

// .contactInfo:hover {
//   opacity: 0.8;
// }

// .patientForm2Submit:hover:enabled {
//   opacity: 0.8;
// }

// .patientForm2Submit {
//   color: white;
//   background-color: #673147 !important;
// }

// .boldText {
//   font-weight: bold;
// font-family: "Roboto", "Helvetica", "Arial", sans-serif;
// }
