$font-size-main-title: 3em;
$font-size-base--default: 1.1em;
$font-size-base--mobile: 16px;

$line-height: 1.6;

$padding-page--default: 40px;
$padding-page--mobile: 40px;

$margin-headline: 28px 24px 20px 24px;
$margin-navbar-offset: 75px;

$padding-page: 40px;
// $background-gradient--primary: linear-gradient(
//   0.25turn,
//   #ece0ff,
//   #e0ccff,
//   #d4b8ff
// );

$background-color--alt: #f8f4ff;

$background-gradient--secondary: linear-gradient(
  0.25turn,
  #e0ccff,
  #ece0ff,
  #d4b8ff
);

.order-page-container {
  //   background-color: #f2f2f2;
  background: $background-gradient--secondary;
  // padding-left: 50px;
  padding: $padding-page;

  @media (320px <= width <= 480px) {
    margin-top: $margin-navbar-offset;
  }

  .order-page__info {
    // padding: 40px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (320px <= width <= 480px) {
      align-items: start;
      text-align: start;
    }

    .main-title {
      color: #35294d;
      font-weight: bolder;
      font-size: $font-size-main-title;
      // padding: 40px 40px 0 40px;

      @media (width > 480px) {
        // margin-bottom: 20px;
        margin-bottom: 0px;
      }
    }

    #orderPageHeadline {
      margin: $margin-headline;

      @media (320px <= width <= 480px) {
        margin: 0px;
      }
    }

    .order-page__text--default {
      font-size: $font-size-base--default; //** Can use this as default font size for desktop screens
      line-height: 1.6;
      font-weight: 500;
      // margin-top: 20px;

      @media (320px <= width <= 480px) {
        font-size: $font-size-base--mobile;
        // padding: 0 $padding-page--mobile 0 $padding-page--mobile;
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    p.order-page__text--default {
      margin-top: 0px;
    }
  }

  .service-select-container {
    display: flex;
    justify-content: center;
  }

  .service-type-input__label {
    color: #35294d;
    font-weight: bold;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-size: 1.25rem;
  }

  .service-type-input__select {
    .MuiSelect-select,
    input {
      background-color: $background-color--alt;
    }
  }

  .patient-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: $font-size-base--default;
    margin-top: 32px;

    .order-page__note {
      line-height: $line-height;
      text-align: center;
    }
  }
}
