$font-size-main-title: 3em;

// $background-gradient--primary: linear-gradient(
//   0.25turn,
//   #ece0ff,
//   #e0ccff,
//   #d4b8ff
// );

$background-gradient--secondary: linear-gradient(
  0.25turn,
  #e0ccff,
  #ece0ff,
  #d4b8ff
);

.order-form-container {
  //   background-color: #f2f2f2;
  background: $background-gradient--secondary;
  padding-left: 50px;
  padding-top: 20px;

  .main-title {
    color: #35294d;
    font-weight: bolder;
    font-size: $font-size-main-title;
    padding: 40px 40px 0 40px;

    @media (width > 480px) {
      margin-bottom: 20px;
    }
  }

  .service-type-form__label {
    color: #35294d;
    font-weight: bold;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-size: 1.25rem;
  }
}
