.aboutContainer{
    text-align: justify;
    padding: 20px;

    .main-title{
        color: #006ba6;
    }

    .intro{
    //  border-radius: 5px;
    //  background-color: lightblue;
     padding: 10px 20px;
     text-align: justify;
    }
    .intro-content{
        padding: 20px;
    }

   .about_title{
     color:#006ba6;
   }
   .about_secondary_title{
    color:#006ba6;
    opacity: 0.8;
    text-decoration: underline;
   }
}
