.aboutContainer{
    text-align: justify;
   // padding: 20px;

    .main-title{
        color: #006ba6;
    }

    .intro{
     padding: 20px 40px;
     text-align: justify;
    }
    .intro-content{
        padding: 20px;
    }

   .about_title{
    margin-top: 20px;
     color:#006ba6;
   }
   .about_secondary_title{
    color:#006ba6;
    opacity: 0.8;
    text-decoration: underline;
   }

   .core-values-container{        
       //background-color: rgb(202, 202, 170);
       background-color: rgb(122, 159, 171);
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .first_row,
   .second_row
   {
        display: flex;
        flex-direction: row; 
        justify-content: center;       
   }
   .card{   
    margin: 20px;   
   }
   .card > div > div{
    padding: 20px;
    display: flex;
    justify-content: center;
   }
   .core_values_title{
    font-size: 32px;
    color: rgb(36, 35, 35);
   }
}
