$background-color--default: rgba(
  $color: #c6aadb,
  $alpha: 0.2,
);

$padding-top-card: 24px;

.cardsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    background-color: $background-color--default;
    padding-top: $padding-top-card;

    .MuiTypography-h6 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 10px auto 10px auto;
    }
    p {
      font-size: 12px;
    }
    img {
      margin-top: 2px;
      object-fit: contain;
    }
    .card_text {
      font-size: 1em;
      line-height: 1.6;
    }
  }
}

.three-panel-main-title {
  color: #35294d;
  display: block;
  margin-top: 3rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .bold_text {
    font-weight: bold;
    font-size: 1.5em;
  }
}
