$background-color--default: rgba(
  $color: #c6aadb,
  $alpha: 0.2,
);

$font-size-card__title: 1.2em;
$font-size-card__desc: 1em;
$font-size-component-title: 1.5em;

$line-height: 1.6;

$padding-card: 30px;
$padding-page: 40px;

$margin-card--default: 20px;
$margin-card--mobile: 0px;
$margin-card__title: 10px auto 10px auto;
$margin-component-title-container: 3rem;

$border-radius: 30px;

.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 $padding-page 0 $padding-page;

  @media (320px <= width <= 480px) {
    flex-direction: column;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 32px;

    gap: 24px;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: $margin-card--default;
    text-align: center;
    justify-content: center;
    border-radius: $border-radius;
    background-color: $background-color--default;
    padding: $padding-card;

    @media (320px <= width <= 480px) {
      margin: $margin-card--mobile;
    }

    .MuiCardContent-root {
      padding: 0;
    }

    .card__title.MuiTypography-h6 {
      font-size: $font-size-card__title;
      font-weight: bold;
      margin: $margin-card__title;
    }
    .card__img {
      object-fit: contain;
      margin-bottom: 16px;
    }
    .card__desc, .card__doi {
      font-size: $font-size-card__desc;
      line-height: $line-height;
    }
    .card__doi {
      margin-top: 8px;
    }
  }
}

.cards-component-title-container {
  color: #35294d;
  display: block;
  margin-top: $margin-component-title-container;
  margin-left: $margin-component-title-container;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 $padding-page 0 $padding-page;

  @media (320px <= width <= 480px) {
    margin: 32px 0 24px 0;
  }

  .cards-component-title {
    font-weight: bold;
    font-size: $font-size-component-title;
  }
}
