$font-size-component-title: 1.5em;

$font-weight-item__content: 500;

$font-color-item__content: #333333;

$color--default: #6a1b9a;
$color--alt: #4a0072;

$padding-page: 40px;

.cta-section {
  text-align: center;
  margin: 40px auto;
  padding: 20px 40px;
  // background: #f3e8ff;
  // border: 1px solid #e0ccff;
  // border-radius: 8px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .cta-title {
    color: #35294d;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  .cta-description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .cta-button {
    background-color: $color--default;
    color: white;
    // padding: 12px 24px;
    font-size: 1em;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;

    &:hover {
      background-color: $color--alt;
      font-weight: bold;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
  padding: 0 $padding-page 0 $padding-page;

  .question-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media (320px <= width <= 480px) {
      text-align: center;
    }

    .question-section__title {
      font-weight: bold;
      font-size: $font-size-component-title;
      color: $color--default;
    }

    .question-section__sub-title {
      font-weight: $font-weight-item__content;
      color: $font-color-item__content;
      margin: 0;
    }
  }

  .question-section__button {
    background-color: $color--default;

    &:hover {
      background-color: $color--alt;
      transform: scale(1.05);
    }
  }
}
