$font-size-component-title: 1.5em;

$font-weight-item__content: 500;

$font-color-item__content: #333333;

$color--default: #35294d;
$color--hover: rgba(54, 42, 81, 0.9);

$padding-page: 40px;

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
  padding: 0 $padding-page 0 $padding-page;

  .question-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media (320px <= width <= 480px) {
      text-align: center;
    }

    .question-section__title {
      font-weight: bold;
      font-size: $font-size-component-title;
      color: $color--default;
    }

    .question-section__sub-title {
      font-weight: $font-weight-item__content;
      color: $font-color-item__content;
      margin: 0;
    }
  }

  .question-section__button {
    // TODO: Change the hover color of button here and in contact page
    background-color: $color--default;
  }

  .question-section__button:hover {
    background-color: $color--hover;
  }
}
