.footer-container {
  width: 100%;
  height: 200px;
  background-color: rgba($color: #c8acdd, $alpha: 0.4);
  color: #35294d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .address {
    width: 25%;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .countries-list {
      display: flex;
      justify-content: space-around;
      font-family: "Inter";
      font-weight: 550;

      a {
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }

      a:hover {
        // text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
  .footer-links {
    display: flex;
    width: 50%;
    font-size: large;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: inherit;
      padding: 0 10px;
      text-decoration: none;
      font-weight: 550;

      link {
        color: #35294d;
        display: inline-flex;
        align-items: center;
      }

      svg.external-link-icon {
        margin-left: 2px;
        vertical-align: middle;
        padding-bottom: 1px;
      }
    }
    a:hover {
      // text-decoration: underline;
      // font-weight: bolder;
      opacity: 0.8;
    }
    a.active {
      text-decoration: underline;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 4px;
    }
  }

  p {
    margin: 8px;
  }
  a {
    //color: white;
    color: #35294d;
  }
  a:hover {
    opacity: 0.8;
  }
  .world-map {
    width: 175px;
    height: 100px;
  }
  .address-text {
    display: inline-block;
    align-content: center;
    margin-right: 10px;
  }

  .socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding-right: 20px;
    svg {
      width: 2.5em;
      height: 75px;
      margin: 20px;
    }
    svg:hover {
      opacity: 0.8;
    }
    .icon-fb:hover {
      color: #2d68c4;
    }
    .icon-yt:hover {
      color: #b2071d;
    }
    .icon-in:hover {
      color: #0077b5;
    }
  }
}

@media (320px <= width <= 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 30px;

    .footer-links {
      display: none;
    }

    .world-map {
      display: none;
    }

    .address-text {
      font-size: 22px;
      margin: 0;
    }

    .socials-container {
      padding-right: 0;
      svg {
        margin: 0px 20px;
      }
    }
  }
}
