.services-container {
  display: flex;
  flex-direction: column;

  .main-title {
    color: #35294d;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0px;
  }

  .intro {
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #c6aadb, $alpha: 0.2);

    @media (320px <= width <= 480px) {
      align-items: start;
    }
  }

  .services-text--default {
    font-size: 1.1em; //** Can use this as default font size for desktop screens
    line-height: 1.6;
    font-weight: 500;
    margin-top: 20px;
  }

  #servicesTextBottom {
    margin-bottom: 32px;
    @media (width > 480px) {
      text-align: center;
    }
  }

  .services-panel-container {
    margin-bottom: 24px;

    @media (width > 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 40px;
    }

    @media (320px <= width <= 480px) {
      margin-bottom: 0px;
    }
  }

  .service-container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    max-width: 50vw;
    margin: 24px;
    background-color: rgba($color: #c6aadb, $alpha: 0.2);
    border-radius: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @media (320px <= width <= 480px) {
      max-width: 100vw;
      flex-direction: column;
    }
  }

  .service-image {
    margin-right: 32px;
    height: 300px;

    @media (320px <= width <= 480px) {
      height: 250px;
    }

    img {
      width: 350px;
      height: 100%;
      object-fit: cover;

      @media (320px <= width <= 480px) {
        margin-right: 0px;
        object-position: 50% 50%;
      }
    }
  }

  .service-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin-right: 32px;

    .MuiTypography-h6 {
      font-size: 1.2em;
      font-weight: bold;
    }

    @media (320px <= width <= 480px) {
      margin-right: 0px;
      padding: 32px;
      gap: 12px;
    }
  }

  .service-text--title {
    font-weight: bolder;
  }

  .service-text--desc {
    font-size: 1.1em;

    @media (320px <= width <= 480px) {
      font-size: 1em;
      line-height: 1.6;
    }
  }
}

@media (320px <= width <= 480px) {
  .services-container {
    #servicesTextBottom {
      padding: 0 40px;
    }

    .services-text--default {
      font-size: 16px;
    }
  }
}
