.servicesContainer{
    text-align: justify;
    padding: 20px;
    
    .main-title{
        color: #003b71;     
    }

    .intro{
     padding: 10px 20px;
     text-align: justify;
    }
    .intro-content{
        padding: 20px;
    }

   .services_title{
    color: #003b71;
   }
   .services_secondary_title{   
    color: #003b71;
    opacity: 0.8;
    text-decoration: underline;
   }

   .service_card{
     div {
       margin: 10px;
       width: 75%;      
     }   
     .MuiTypography-h6{
      color: #003b71;
      font-weight: bold;
     }
     .MuiTypography-p{
      color: #fffefe;  
      font-size: 14px; 
     }
         
   }
   .media_control_card{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(137, 180, 194);
   }
   .services_notes{
    margin-bottom: 20px;    
   }
   .servicesSummary{
    width: 80%;
   }
}
