$border-radius: 8px;

$font-size-base: 1.1em;
$font-size-title: 2em;
$font-size-base--mobile: 16px;

$line-height: 1.6;

$font-weight-base: 500;

$padding-page: 40px;
$padding-form--default: 40px;
$padding-form--mobile: 0px;

$margin-top-page--mobile: 75px;

$width-form-item--default: 40%;
$width-form-item--mobile: 100%;

$gap-form-items: 24px;

$color--default: #35294d;

$background-color--default: rgba(
  $color: #c6aadb,
  $alpha: 0.2,
);
$background-color--alt: white;

.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-color--default;
  padding: $padding-page;

  font-size: $font-size-base;
  line-height: $line-height;
  font-weight: $font-weight-base;

  @media (320px <= width <= 480px) {
    width: 100vw;
    margin-top: $margin-top-page--mobile;
    font-size: $font-size-base--mobile;
  }
}

.contact-page-info {
  text-align: center;

  @media (320px <= width <= 480px) {
    text-align: start;
  }

  .main-title {
    color: $color--default;
    font-weight: bolder;
    font-size: $font-size-title;

    @media (width > 480px) {
      margin-bottom: 28px;
    }
  }
}

.contact-form-container {
  width: 100%;
  padding: $padding-form--default;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (320px <= width <= 480px) {
    padding: $padding-form--mobile;
    margin-top: 16px;
  }
}

.alert-message {
  width: $width-form-item--default;

  @media (320px <= width <= 480px) {
    width: $width-form-item--mobile;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-form-items;
  width: 100%;
}

.form-input {
  text-align: center;
  width: $width-form-item--default;

  @media (320px <= width <= 480px) {
    width: $width-form-item--mobile;
  }

  label,
  input {
    background-color: $background-color--alt;
  }

  label {
    border-radius: $border-radius;
    padding: 0 4px;
  }
}

.form-dropdown {
  font-family: "Inter", sans-serif;
  .MuiSelect-select,
  input {
    background-color: $background-color--alt;
  }
}

.form-text-area {
  .MuiInputBase-root {
    background-color: $background-color--alt;
  }
}

#formSubmitBtn {
  background-color: $color--default;
  color: white;
  margin-top: 16px;

  @media (320px <= width <= 480px) {
    margin-top: 0px;
  }
}

.contact-page-note {
  line-height: $line-height;
  text-align: center;

  @media (320px <= width <= 480px) {
    margin-top: 16px;
  }
}
