$border-radius: 8px;

$font-size-base: 1.1em;
$font-size-title: 2.8em;
$font-size-base--mobile: 16px;

$line-height: 1.6;

$font-weight-base: 500;

$padding-page: 40px;
$padding-form--default: 40px;
$padding-form--mobile: 0px;

$margin-top-page--mobile: 75px;
$margin-headline: 28px 24px 12px 24px;

$width-form-item--default: 40%;
$width-form-item--mobile: 100%;

$gap-form-items: 24px;

$color--default: #6a1b9a;
$color--alt: #4a0072;

// $background-color--default: rgba(
//   $color: #c6aadb,
//   $alpha: 0.2,
// );
$background-color--alt: #f8f4ff;

$background-gradient: linear-gradient(0.25turn, #e0ccff, #ece0ff, #d4b8ff);

.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: $background-color--default;
  background: $background-gradient;
  padding: $padding-page;

  font-size: $font-size-base;
  line-height: $line-height;
  font-weight: $font-weight-base;

  @media (320px <= width <= 480px) {
    width: 100vw;
    margin-top: $margin-top-page--mobile;
    font-size: $font-size-base--mobile;
  }
}

.contact-page__info {
  text-align: center;

  @media (320px <= width <= 480px) {
    text-align: start;
  }

  .main-title {
    color: $color--default;
    font-weight: bolder;
    font-size: $font-size-title;

    @media (width > 480px) {
      // margin-bottom: 28px;
      margin-bottom: 0px;
    }
  }

  #contactPageHeadline {
    margin: $margin-headline;

    @media (320px <= width <= 480px) {
      margin: 0px;
    }
  }
}

.contact-form-container {
  width: 100%;
  padding: $padding-form--default;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (320px <= width <= 480px) {
    padding: $padding-form--mobile;
    margin-top: 16px;
  }
}

.alert-message {
  width: $width-form-item--default;
  margin-bottom: 20px;

  @media (320px <= width <= 480px) {
    width: $width-form-item--mobile;
    margin-bottom: $gap-form-items;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-form-items;
  width: 100%;
}

.form__input {
  text-align: center;
  width: $width-form-item--default;

  @media (320px <= width <= 480px) {
    width: $width-form-item--mobile;
  }

  label,
  input {
    background-color: $background-color--alt;
  }

  label {
    border-radius: $border-radius;
    padding: 0 4px;
  }
}

.form__dropdown {
  font-family: "Inter", sans-serif;
  .MuiSelect-select,
  input {
    background-color: $background-color--alt;
  }
}

.form__text-area .MuiInputBase-root {
  background-color: $background-color--alt;
}

.form__submit-button.MuiButton-root {
  background-color: $color--default;
  color: white;
  margin-top: 16px;

  &:hover {
    background-color: $color--alt; // A darker purple for hover
    transform: scale(1.05); // Slight scale effect
  }

  @media (320px <= width <= 480px) {
    margin-top: 0px;
  }
}

.contact-page__note {
  line-height: $line-height;
  text-align: center;

  @media (320px <= width <= 480px) {
    margin-top: 16px;
  }
}
