.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba($color: #c6aadb, $alpha: 0.2);
  padding: 40px;

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 500;
}

.contact-page-info {
  text-align: center;

  .main-title {
    color: #35294d;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 28px;
  }
}

.contact-page-note {
  // font-weight: bold;
  padding-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}

.contact-form-container {
  width: 100%;
  // background-color: #f2f2f2;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.alert-message {
  width: 40%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

// .form-label {
//   font-weight: bold;
//   font-family: "DMSans", sans-serif;
// }

// .form-label-input {
//   width: 100%;
//   display: flex;
// flex-direction: column;
//   align-items: center;
//   justify-content: center;
// gap: 4px;
// }

.form-input {
  width: 40%;
  // padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  // box-sizing: border-box;
  // margin-top: 6px;
  // margin-bottom: 16px;
  // resize: vertical;
  // display: block;
  font-family: "Inter", sans-serif;
  text-align: center;

  label,
  input {
    background-color: white;
  }

  label {
    border-radius: 8px;
    padding: 0 4px;
  }
}

// .form-input:focus::placeholder {
//   color: transparent;
// }

.form-dropdown {
  // display: block;
  width: 250px;
  // height: 35px;
  // margin-top: 5px;
  // margin-bottom: 16px;
  // border: 1px solid #ccc;
  // border-radius: 8px;
  font-family: "Inter", sans-serif;
  // text-align: center;
  .MuiSelect-select,
  input {
    background-color: white;
  }
}

.form-text-area {
  resize: none;
  height: 150px;

  .MuiInputBase-root {
    background-color: white;
  }
}

.form-text-area:-webkit-resizer {
  display: none;
}

#formSubmitBtn {
  background-color: #35294d;
  color: white;
  margin-top: 16px;
}
