$font-size-main-title: 2em;
$font-size-base--default: 1.1em;
$font-size-base--mobile: 16px;
$font-size-sec-title: 1.5em;
$font-size-item__title: 1.1em;

$font-weight-item__content: 500;

$font-family-primary: Inter;
$font-family-secondary: DMSans;

$line-height: 1.6;

$padding-page--default: 40px;
$padding-page--mobile: 40px;

$box-shadow-list__item: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

// $background-color: rgba(
//   $color: #c6aadb,
//   $alpha: 0.2,
// );

// $background-gradient--primary: linear-gradient(
//   0.25turn,
//   #ece0ff,
//   #e0ccff,
//   #d4b8ff
// );

$background-gradient--secondary: linear-gradient(
  0.25turn,
  #e0ccff,
  #ece0ff,
  #d4b8ff
);

$color--default: #35294d;

$font-color-item__content: rgba(0, 0, 0, 0.6);

.research-container {
  min-height: 100vh;

  .main-title {
    color: $color--default;
    font-weight: bolder;
    font-size: $font-size-main-title;
  }

  .research-title-desc {
    padding: $padding-page--default;
    // background-color: rgba($color: #c6aadb, $alpha: 0.2);
    background: $background-gradient--secondary;
  }
}

.research-desc {
  margin: 0 0 32px 0;
  font-size: $font-size-base--default; //** Can use this as default font size for desktop screens
  line-height: $line-height;
  font-weight: 500;
}

.research-notes-title {
  font-weight: bold;
  font-size: $font-size-sec-title;
  line-height: $line-height;
  font-family: $font-family-secondary;
}

.research-list__item {
  .item__title {
    font-family: $font-family-secondary;
    font-size: $font-size-item__title;
  }
  .item__content {
    font-weight: $font-weight-item__content;
    color: $font-color-item__content;
  }
}

@media (width > 480px) {
  .research-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .research-title-desc {
      padding-bottom: 20px;
    }
  }

  #researchScopeDesc {
    margin: 20px;
  }

  .research-notes-title {
    margin: 32px 24px 12px 24px;
  }

  .research-list-container {
    .research-list {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      list-style-type: none;
      padding: 0px;

      .research-list__item {
        font-size: $font-size-base--default;
        margin: 20px 24px;
        padding: 16px;
        border-radius: 30px;
        // background-color: $background-color;
        background: $background-gradient--secondary;
        box-shadow: $box-shadow-list__item;

        .item__title {
          font-weight: bolder;
          margin-bottom: 32px;
        }
      }
    }
  }
}

@media (320px <= width <= 480px) {
  .research-container {
    width: 100vw;
    padding: 0px;
    margin-top: 75px;
  }

  .research-notes-title {
    padding-left: $padding-page--default;
    margin-top: 24px;
    display: inline-block;
  }

  #researchScopeDesc {
    padding: 0px;
    margin: 0px;
  }

  .research-desc {
    font-size: $font-size-base--mobile;
    padding: 0 $padding-page--mobile 0 $padding-page--mobile;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .research-list-container {
    padding: 0 $padding-page--mobile 0 $padding-page--mobile;
    .research-list {
      margin: 20px 0 20px 0;
      padding-left: 20px;
      // margin-top: 0px;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      .research-list__item {
        // margin-top: 20px;
        font-size: $font-size-base--mobile;
        .item__title {
          font-weight: bolder;
          margin: 0px;
        }

        .item__content {
          color: black;
          // margin-bottom: 20px;
        }
      }
    }
  }
}
