.researchContainer{
   
    .main-title{
        color: #35294D;
        font-weight: bold;
        font-size: 2rem;
    }

    .researchNotes{
        //border-radius: 5px;      
        background-color: rgba($color: #C6AADB, $alpha: .2);      
        color: rgba($color: #000000, $alpha: 1);
        padding: 30px;
        padding-left: 10%;
        padding-right: 10%;       
        min-height: 100vh;
        background-image: url('../../assets/images/researchMedia.png');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;       
        background-position: center;
    }   

    .research_notes_text{
        margin-bottom: 20px;
        font-size: 1rem !important;
        line-height: 1.6;
    }

    .researchPointsContainer{
        display: flex;       
        width: 100%;

        .researchPointsNotes{
            width:100%
        }
        .researchPointsNotesMedia {
            width: 30%;
            padding: 20px;
            img{
                width: 100%;               
                height: 100%;
            }
        }
    }
   
}
