nav {
  background-color: white;
  height: 75px;
  padding-left: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav > .nav-links-desktop {
  display: flex;
  align-items: center;
}

nav > .nav-links-desktop > a {
  margin-right: 16px;
  font-weight: 550;
  width: auto;
  color: #35294d;
  text-decoration: none;
  position: relative;

  .nav-link--text {
    color: #35294d;
    display: inline-flex;
    align-items: center;
  }

  svg.external-link-icon {
    margin-left: 2px;
    vertical-align: middle;
  }
}

nav > .nav-links-desktop > a:not(.active):not(:last-child):after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #35294d;
  transform-origin: bottom right;
  transition: transform 0.2s ease-in;
}

nav > .nav-links-desktop > a:not(.active):not(:last-child):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav > .nav-links-desktop > a:not(.active):hover {
  opacity: 0.8;
  // transition: .2s;
}

nav > .nav-links-desktop > a.active {
  .nav-link--text {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }
}

nav > .nav-links-mobile {
  display: none;
  a {
    color: #35294d;
    text-decoration: none;
  }
}

.login-btn-container {
  .login-btn {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #35294d;
  }
  .login-btn:hover {
    background-color: #523f77;
  }
}

.home-btn {
  position: absolute;
  width: auto;
  left: 10px;
}

@media (320px <= width <= 480px) {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    position: fixed;
    inset: 0;
  }

  nav > .nav-links-desktop {
    display: none;
  }

  nav > .nav-links-mobile {
    display: block;
    button > svg {
      height: 32px;
      width: 32px;
    }
  }

  .home-btn {
    position: static;
  }

  #burgerMenu {
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      padding: 20px;

      a {
        text-decoration: none;
        color: inherit;

        .nav-link--text {
          color: #35294d;
          display: inline-flex;
          align-items: center;
        }

        svg.external-link-icon {
          margin-left: 2px;
          vertical-align: middle;
        }
      }

      a.active {
        .nav-link--text {
          text-decoration: underline;
          text-decoration-line: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 4px;
        }
      }

      .login-btn {
        margin: 0;
      }
    }
  }
}
