nav{  
   background-color:gray;
   height: 75px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding-left: 20px;
}
nav a {
    margin-right: 16px;
    width: auto;
    color: white;
    text-decoration: none;
}

nav a.active {
 text-decoration: underline;   
}

.loginBtn {
     width: auto;
     margin-left: 10px;
     margin-right: 20px;  
}
.logoutBtn {
    width: auto;
    margin-left: 10px;
    margin-right: 20px;  
}
.homeBtn{
    position: absolute;
    width: auto;
    left: 10px;
}
