$background-color--default: #e0ccff;

.footer-container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgba(0, 0, 0, 0.18);

  .footer-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #35294d;
    font-size: 12px;
    color: white;
  }
}

.footer-top-container {
  width: 100%;
  height: 200px;
  background-color: $background-color--default;
  color: #35294d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .address {
    width: 20%;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .countries-list {
      display: flex;
      justify-content: space-around;
      font-family: IBMPlexSans;
      font-weight: 550;

      a {
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }

      a:hover {
        // text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
  .footer-links {
    display: flex;
    width: 60%;
    font-size: larger;
    align-items: center;
    justify-content: center;
    gap: 16px;

    a {
      text-decoration: none;
      color: inherit;
      text-decoration: none;
      font-weight: 550;
      position: relative;

      svg.external-link-icon {
        margin-left: 2px;
        vertical-align: middle;
        padding-bottom: 2px;
      }

      .link {
        font-family: IBMPlexSans;
      }
    }

    a:not(.active):not(:last-child):after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: #35294d;
      transform-origin: bottom right;
      transition: transform 0.2s ease-in;
    }

    a:not(.active):not(:last-child):hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    a:not(.active):hover {
      opacity: 0.8;
    }

    a.active {
      text-decoration: underline;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 5px;
    }
  }

  p {
    margin: 8px;
  }
  a {
    //color: white;
    color: #35294d;
  }
  // a:hover {
  //   opacity: 0.8;
  // }
  .world-map {
    width: 175px;
    height: 100px;
  }
  .address-text {
    display: inline-block;
    align-content: center;
    margin-right: 10px;
  }

  .socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    // padding-right: 20px;
    svg {
      width: 2.5em;
      height: 75px;
      margin: 20px;
    }
    svg:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .icon-fb:hover {
      color: #2d68c4;
    }
    .icon-yt:hover {
      color: #b2071d;
    }
    .icon-in:hover {
      color: #0077b5;
    }
  }
}

@media (320px <= width <= 480px) {
  .footer-top-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 30px;

    .footer-links {
      display: none;
    }

    .world-map {
      display: none;
    }

    .address-text {
      font-size: 22px;
      margin: 0;
    }

    .socials-container {
      padding-right: 0;
      svg {
        margin: 0px 20px;
      }
    }
  }
}
