$font-size-main-title: 3em;
$font-size-base--default: 1.1em;
$font-size-base--mobile: 16px;
$font-size-sec-title: 1.4em;
$font-size-article__title: 1.25em;

$margin-headline: 24px 24px 20px 24px;
$margin-navbar-offset: 75px;

$background-color--table: #f8f4ff;

// $background-gradient--primary: linear-gradient(
//   0.25turn,
//   #ece0ff,
//   #e0ccff,
//   #d4b8ff
// );

$background-gradient--secondary: linear-gradient(
  0.25turn,
  #e0ccff,
  #ece0ff,
  #d4b8ff
);

.resources-container {
  // padding: 40px;
  // background-color: $background-color;
  background: $background-gradient--secondary;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (320px <= width <= 480px) {
    width: 100vw;
    align-items: start;
    margin-top: $margin-navbar-offset;
  }

  .main-title {
    color: #35294d;
    font-weight: bolder;
    font-size: $font-size-main-title;
    padding: 40px 40px 0 40px;

    @media (width > 480px) {
      margin-bottom: 4px;
    }
  }

  .articles-container {
    padding: 0 40px 0 40px;
  }

  .secondary-title {
    font-weight: bold;
    font-size: $font-size-sec-title;
    line-height: 1.6;
    font-family: "IBMPlexSans";
    margin-top: 24px;
    margin-bottom: 32px;

    @media (width > 480px) {
      text-align: center;
    }

    @media (320px <= width <= 480px) {
      margin: 16px 0 16px 0;
    }
  }

  .articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;

    @media (320px <= width <= 480px) {
      gap: 16px;
      margin-bottom: 0px;
    }
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width > 480px) {
      max-width: 50%;
    }

    @media (320px <= width <= 480px) {
      align-items: start;
    }
  }

  .article-title {
    // margin-top: 20px;
    color: #35294d;
    font-weight: bold;
    font-size: $font-size-article__title;
  }

  .article-notes-item {
    font-size: $font-size-base--default;
    line-height: 1.8;
    font-weight: 500;
    @media (320px <= width <= 480px) {
      font-size: $font-size-base--mobile;
      // line-height: 1.8;
    }
  }

  .article-notes {
    margin-top: 20px;

    @media (320px <= width <= 480px) {
      margin-top: 0px;
      padding-inline-start: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .websites-container {
    padding: 0 40px 0 40px;
  }

  .websites-list {
    font-size: $font-size-base--default;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline-start: 0px;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 32px;

    @media (320px <= width <= 480px) {
      padding-inline-start: 20px;
      list-style-type: disc;
      gap: 20px;
      margin-bottom: 16px;
    }

    .website-list-item {
      @media (width > 480px) {
        width: 100%;
      }
      @media (320px <= width <= 480px) {
        font-size: $font-size-base--mobile;
        line-height: 1.8;
      }

      .website-link-title {
        text-align: center;
        margin-bottom: 16px;

        @media (320px <= width <= 480px) {
          text-align: start;
          margin-bottom: 8px;
        }
      }

      // .website-link {
      //   width: 100%;
      //   margin: 0px;
      //   @media (width > 480px) {
      //     text-align: end;
      //   }
      // }

      .website-title {
        text-align: center;
        display: inline;
        font-size: $font-size-base--default;
        line-height: 1.6;
        font-weight: bolder;
        text-decoration: underline;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;

        a {
          color: #35294d;
          text-decoration: none;
        }

        a:hover {
          opacity: 0.8;
        }

        @media (width > 480px) {
          white-space: pre;
        }

        // @media (320px <= width <= 480px) {
        //   display: none;
        // }
      }

      .website-content {
        list-style-type: disc;
        list-style-position: inside;
        padding-inline-start: 0px;

        @media (320px <= width <= 480px) {
          list-style-type: circle;
        }
      }
    }
  }

  .table-container {
    @media (width > 480px) {
      width: 50%;
    }
    margin: 16px 0px 32px 0px;
  }

  .resources-table {
    // min-width: 350px;
    background-color: $background-color--table;

    @media (320px <= width <= 480px) {
      font-size: 16px;
    }

    @media (320px <= width <= 480px) {
      display: block;
      overflow-x: auto;
    }

    .table__header {
      font-weight: bolder;
      font-size: $font-size-base--default;
      font-family: "IBMPlexSans";
    }

    .table__data {
      font-size: $font-size-base--default;
    }

    // @media (width > 480px) {
    .product-name {
      text-align: center;
    }

    .product-feature-value {
      text-align: center;
    }
    // }
  }
}
