.resourcesContainer{
    padding: 40px;

    .resourcesMainHeading{
        color: #006ba6;
        margin-bottom: 20px;
    }

    .boldHeading{
        font-weight: bold;
    }
    a{
        margin-left: 16px;
    }

    ul{
        margin: 0;
        margin-bottom: 20px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      .check{
        text-align: center;
      }

      .resourcesTable{
        margin-top: 20px;
      }

      .tableHeading{
        margin-top: 40px;
        color: #006ba6;
        text-decoration: underline;
      }
      .secondaryTitle{
        color: #006ba6;
        text-decoration: underline;
      }
      .addPadding{
        padding-left: 32px;
      }
      .smallerFont{
        font-size: 1rem;
      }
}