.resourcesContainer {
  padding: 40px;
  background-color: rgba($color: #c6aadb, $alpha: 0.2);

  .css-1vw6mcs-MuiTypography-root {
    font-weight: bold;
    font-size: 2rem;
  }

  .resourcesMainHeading {
    color: #35294d;
    margin-bottom: 20px;
  }

  .boldHeading {
    font-weight: bold;
  }
  a {
    margin-left: 16px;
  }

  ul {
    margin: 0;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th.productName {
    text-align: center;
  }
  .lifestyle_choices {
    padding-left: 2rem;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: white;
  }
  .check {
    text-align: center;
  }

  .resourcesTable {
    margin-top: 20px;
  }

  .tableHeading {
    margin-top: 40px;
    color: #35294d;
    text-decoration: underline;
  }
  .secondaryTitle {
    color: #35294d;
    text-decoration: underline;
  }
  .addPadding {
    padding-left: 32px;
  }
  .smallerFont {
    font-size: 1rem;
  }
}
