@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/inter/inter-latin-500-normal.woff") format("woff");
}

@font-face {
  font-family: "DMSans";
  src: local("DMSans"),
    url("./assets/fonts/dm-sans/dm-sans-latin-500-normal.woff") format("woff");
}

body {
  margin: 0;
  font-family: "DMSans", "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  min-height: 100vh;
}
