@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/inter/inter-latin-500-normal.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./assets/fonts/barlow/barlow-latin-600-normal.woff") format("woff");
}

@font-face {
  font-family: "IBMPlexSans";
  src: local("IBMPlexSans"),
    url("./assets/fonts/ibm-plex-sans/ibm-plex-sans-latin-500-normal.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "Inter", "Barlow", "IBMPlexSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}
